* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f8fbff;
  color: #102033;
}

.navbar {
  padding: 18px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  text-decoration: none;
  color: #102033;
  font-weight: 600;
}



.hero {
  padding: 100px 8%;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 40px;
  align-items: center;
  background: linear-gradient(135deg, #1e4f8a, #3b82f6);
  color: white;
  }

.heroText h1 {
  font-size: 52px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: white;
}

.heroText p {
  font-size: 18px;
  line-height: 1.6;
  color: #e5e7eb;
}

.heroCard img {
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  margin-top: 15px;
}

.heroButtons {
  margin-top: 25px;
  display: flex;
  gap: 12px;
}

.btnPrimary {
  background: #22c55e;
  color: #102033;
  border: none;
  padding: 12px 20px;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
}

.btnSecondary {
  background: #22c55e;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
}

.mision {
   background: #1e4f8a;
  padding: 100px 10%;
  text-align: center;
  color: white;
}

.misionContent h2 {
  font-size: 42px;
  color: #22c55e;
  margin-bottom: 30px;
}

.misionContent p {
  font-size: 20px;
  max-width: 900px;
  margin: auto;
  line-height: 1.8;
  color: #e5e7eb;
}
