body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.nav {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px;
  background: white;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
}


.hero {
  height: 100vh;
  background: linear-gradient(135deg, #1e4f8a, #3b82f6);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.hero h1 {
  font-size: 50px;
}

.hero span {
  color: #22c55e;
}


.about {
  padding: 100px 10%;
  text-align: center;
}


.programs {
  padding: 100px 10%;
  background: #f5f7fa;
}

.programs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}


.contact {
  padding: 80px;
  text-align: center;
}


footer {
  padding: 20px;
  background: #1e4f8a;
  color: white;
  text-align: center;
}